body {
    margin: 0;
    background-color: rgb(255, 255, 255);
}

#navbar {
    color: rgb(202, 34, 34);
    padding: 1.5rem;
    margin: 0rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    margin-left: 4rem;
    font-size: 0.625rem;
    color: rgb(255, 255, 255);
}

#logoItem{
    font-size: 1.875rem;
    color: rgb(0, 0, 0);
    text-decoration: none;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
}

.menuItem {
    text-decoration: none;
    color: rgb(0, 0, 0);
    transition: all 0.3s ease;
    margin-left: 5rem;
        font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
}

.menuItem:hover {
    color: rgb(0, 8, 92);
    font-size: 1.125rem;
    transform: scale(1.01);
}

.hero {
    background: url("../images/QuienesSomos.jpeg");

    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    min-height: 90vh;
    display: flex;
    align-items: center;  
    padding-left: 50rem; 
}


.heroText {
    height: 30rem;
    width: 80%;
    background: rgba(1, 0, 0, 0.286);
    border-radius: 20px;
    padding: 2rem;
    color: white;
    box-shadow: 0 10px 30px rgb(0, 0, 0);
    font-family: poppins, sans-serif;

}

#h1{
    text-align: center;
    font-size: 3rem;
    margin-bottom: 5.5rem;
        font-family: poppins, sans-serif;

}

#textoQuienesSomos{
    font-size: 1.5rem;
    text-align: center;
    font-family: poppins, sans-serif;
}

.mision{
    display: flex;
    
}

.misionText{
    flex: 1;
    padding: 4rem;
    text-align: center;
    font-family: poppins, sans-serif;

}

.misionImage{
    flex: 1;
}

.misionImage img{
    width: 100%;
    height: 100%;
}

#textoMision{
    font-size: 1.5rem;
    font-family: poppins, sans-serif;

}

.footer{

    background-color: #1e1b1b;
    height: 10rem;
}