body {
    margin: 0;
}

#navbar {
    background: linear-gradient(
    hsl(0, 0%, 10%),
    #303030,
    #4f4f4f,
    hsl(0, 0%, 10%)
);
    color: rgb(202, 34, 34);
    padding: 50px;
    margin: 0px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    margin: 0;
    font-size: 10px;
    color: rgb(255, 255, 255);
}

#logoItem{
    font-size: 30px;
    color: white;
    text-decoration: none;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
}

.menuItem {
    text-decoration: none;
    color: white;
    transition: all 0.3s ease;
    margin-left: 80px;
}

.menuItem:hover {
    color: rgb(155, 155, 155);
    transform: scale(1.01);
}